@tailwind base;
@tailwind components;
@tailwind utilities; 

@layer components {

  .container-main {
    @apply max-w-[1200px] mx-auto px-6;
  }

  .nav-link {
    @apply px-6 py-3 text-bodylg font-medium  text-neutral-700 rounded-full transition-all duration-300;
  }

  .nav-link:hover {
    @apply text-branding-500;
  }

  .nav-link-active {
    @apply  text-branding-500 font-bold;
          
  }

  .header {
    @apply bg-branding-100 py-5
             shadow-header
             w-full;
  }

  .logo-wrapper {
    @apply flex items-center gap-3;
  }

  .nav-menu {
    @apply flex items-center gap-8;
  }


  .text-button {
    @apply text-btn-m font-medium leading-6;
  }

  .btn {
    @apply inline-flex items-center justify-center
           px-7 py-3
           rounded-lg
           transition-all duration-300;
  }

  .btn-primary {
    @apply bg-branding-500 text-neutral-100 hover:bg-branding-800 hover:-translate-y-0.5;
  }

  .btn-secondary {
    @apply  text-branding-500 bg-neutral-100
           hover:bg-branding-500 hover:text-neutral-100 hover:-translate-y-0.5;
  }
  
  .btn-icon {
    @apply gap-2 px-4 py-2 h-[50px];
  }

  .btn-icon svg,
  .btn-icon img {
    @apply w-6 h-6;
  }

.hero{
  @apply w-full min-h-[520px] md:min-h-[640px] py-0 md:py-20 bg-secondaryCool relative overflow-hidden;
}

.hero-wrapper{
  @apply max-w-[1200px] mx-auto px-6  flex flex-col  md:grid md:grid-cols-2 items-center gap-12
  min-h-[720px];
}

.hero-content{
  @apply flex flex-col justify-center relative z-10
  max-w-full md:max-w-[560px]
  order-2 md:order-1
  text-left;
}

.hero-title{
  @apply font-bold text-neutral-200 leading-tight
  text-h1 md:text-hero;
}

.hero-sub{
  @apply mt-1 font-bold text-neutral-200
  text-h3 md:text-h1;
}

.hero-desc{
  @apply mt-4 font-medium text-neutral-200 leading-relaxed
  text-body md:text-bodylg;
}

.hero-actions{
  @apply flex gap-6 pt-8 flex-wrap;
}


.hero-avatars{
  @apply flex gap-4 pt-5 pb-5 md:pt-12 
  flex-nowrap
  overflow-x-auto md:overflow-visible;
}

.hero-avatars::-webkit-scrollbar{
  display:none;
}

.hero-avatars img{
  @apply rounded-full object-cover
  border-2 border-neutral-100 shadow-card
  flex-shrink-0 transition duration-300
  w-[70px] h-[70px] md:w-20 md:h-20;
}

.hero-avatars img:hover{
  transform:scale(1.1);
}

.hero-image{
  @apply relative flex justify-center md:justify-end items-end
  order-1 md:order-2
  w-full min-h-[420px];
}

.hero-blob{
  @apply absolute
  w-[500px] md:w-[720px]
  top-[-100px] md:top-[-380px]
  right-[-40px] md:right-[-180px]
  z-[1];
}

.hero-dog{
  @apply absolute z-[10]
  left-1/2 md:left-auto
  md:right-[-5%]
  -translate-x-1/2 md:translate-x-0
  bottom-0
  w-[420px] md:w-[850px]
  md:h-[520px] h-auto object-contain;
}

.hero-sticker{
  @apply absolute w-[110px] z-[20] hidden md:block pointer-events-none;
}

.hero-sticker-1{
  @apply top-[15px] right-[380px] rotate-[-8deg];
}

.hero-sticker-2{
  @apply top-[380px] right-[350px] rotate-[15deg];
}

.hero-sticker-3{
  @apply top-[150px] -right-[100px] rotate-[20deg];
}


.card{
  @apply bg-neutral-100 rounded-lg flex flex-col p-4 gap-3 shadow-card overflow-hidden 
  hover:shadow-xl hover:-translate-y-1
  transition duration-300;
}

.card-image{
  @apply w-full h-[340px] rounded-md overflow-hidden;
}

.card-image img{
  @apply w-full h-full object-cover object-center;
}

.card-content{
  @apply flex flex-col text-left gap-2;
}

.card-title{
  @apply text-bodylg font-normal text-branding-500;
}

.card-desc{
  @apply text-body text-neutral-700 leading-relaxed;
}

.card-date{
  @apply text-caption text-neutral-500;
}

.certificate-card{
  @apply w-full max-w-[800px] mx-auto
  px-14 pt-14 pb-10
  bg-neutral-100 rounded-2xl
  flex flex-col items-center text-center gap-8
  shadow-card;
}

.certificate-icon{
  @apply w-[220px] transition duration-100 hover:rotate-15;
}

.certificate-title{
  @apply text-h2 md:text-h1 font-bold text-branding-900;
}

.certificate-desc{
  @apply text-branding-500 text-body md:text-bodylg;
}

.certificate-list{
  @apply text-neutral-900 text-btns md:text-btnm leading-relaxed;
}

}
